.wrapper{
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.list{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
a{ 
  color:inherit;
  text-decoration: none;
}
.recipe__btn:hover{
  color: purple;
}
.App{
  font-family: 'Baskervville', serif;
  text-align: center;
  box-sizing: border-box;
}
img{
  width: 100%;
  max-width: 200px;
}
.title__list{
  color: green;
  margin-bottom: 5px;
}
.list{
  list-style: none;
  padding-inline-start: 0;
  margin: 0px 20px;
}
.item__list{
  padding: 0px 15px;
  text-align: center;
}
.item__name{
  color: darkgreen;
}
.item__image{
  width: 200px;
}
a{ 
  color:inherit;
  text-decoration: none;
}
.recipe__btn:hover{
  color: darkblue;
}
.name__form{
  text-align: center;
}
.wrapper__info{
  color: green;
}
form{
  height: auto;
}
@media (min-width: 768px){
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  } 
}